%dom-module#aozora-splash-screen
  %link{rel: 'import', type: 'css', href: 'aozora-splash-screen.css'}
  %template
    %iron-image.logo{src: '../../resources/images/logo.svg'}
    %paper-button{'on-tap' => 'startBtnOnTap'} START
    %paper-button button2
    %paper-button button3

%script{src: 'aozora-splash-screen.js'}
