%dom-module#aozora-topbar
  %template
    @@include('./aozora-topbar.css')

    %paper-icon-button#drawerBtn{icon: 'menu', 'on-tap' => '_onDrawerBtnTap'}(paper-drawer-toggle)

%script{src: 'aozora-topbar.js'}
