%link{rel: 'import', href: '../../bower_components/iron-image/iron-image.html'}

%dom-module#aurora-tachie
  %template
    @@include('./aurora-tachie.css')

    %iron-image#image{sizing: 'contain', src: '{{currentTachieResource.url}}'}
%script{src: 'aurora-tachie.js'}
