/ TODO styles for decision node

%dom-module#aurora-conversation-box
  %template
    @@include('./aurora-conversation-box.css')

    %template{is: 'dom-if', if: '{{nodeTypeIsLine}}'}
      .node.line.horizontal.layout
        .role-wrapper.vertical.layout.center-justified.center
          %p.role {{ _roleNameOfLine(node) }}
        .sentence-wrapper.flex.vertical.layout.center-justified.center
          %aurora-sentence(flex){sentence: '{{node.text}}'}

    %template{is: 'dom-if', if: '{{nodeTypeIsNarrate}}'}
      .node.narrate.horizontal.layout.center-justified
        %p {{ node.text }}

    %template{is: 'dom-if', if: '{{nodeTypeIsDecision}}'}
      .node.choices
        %p.title {{ node.text }}
        %template{is: 'dom-repeat', items: '{{node.choices}}', as: 'choice'}
          / TODO ripple
          %p.choice{'on-tap' => '_onTapOnChoice'}
            \- 
            {{ choice.text }}

%script{src: 'aurora-conversation-box.js'}
