<?xml version="1.0" encoding="UTF-8" ?>
  <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.projectyoru.aurora.demoapp"
    versionCode = "1"
    version     = "0.0.2" >

  <name>Aurora demo app</name>

  <description>
    Aurora demo app
  </description>

  <author href="https://github.com/project-yoru" email="namiheike@gmail.com">
    Project YORU
  </author>

  <!-- currently only build android version -->
  <gap:platform name="android" />

  <!-- perferences -->

  <!-- set min sdk version to Android 5.0 -->
  <preference name="android-minSdkVersion" value="21" />

  <preference name="fullscreen" value="true" />
  <preference name="orientation" value="landscape" />

  <!-- plugins -->
  <gap:plugin name="org.apache.cordova.device" version="0.2.12" />
  <!-- TODO for developing, remove before deploy to production -->
  <gap:plugin name="com.jamiestarke.webviewdebug" version="1.0.8" />
</widget>
