%dom-module#aozora-loading-screen
  %link{rel: 'import', type: 'css', href: 'aozora-loading-screen.css'}
  %template
    %iron-image.logo#aozoraLogo{src: '../../resources/images/aozora_logo.png'}
    %paper-spinner#spinner(active)

%script{src: 'aozora-loading-screen.js'}
