%dom-module#aozora-loading-screen
  %template
    @@include('./aozora-loading-screen.css')

    %iron-image.logo#aozoraLogo{src: '../../resources/images/aozora_logo.png'}
    %paper-spinner#spinner(active)

%script{src: 'aozora-loading-screen.js'}
