%dom-module#aurora-resources
  %template
    #resourceLoaders
      %template{is: 'dom-repeat', items: '{{ _resourcesCollections }}', as: 'collection'}
        :plain
          <iron-ajax
            auto
            url="{{collection.fullPath}}"
            handle-as="json"
            on-response="_collectionLoaderResponse"
            data-collection-name$="{{collection.name}}"
          >
          </iron-ajax>
%script{src: 'aurora-resources.js'}
