/ TODO make the nav button width 100 and add hover effect
%dom-module#aozora-drawer
  %template
    @@include('./aozora-drawer.css')

    %header
      %iron-image.logo#logo{src: '../../resources/images/logo.svg'}
    %nav
      %paper-item
        %paper-button
          Setting
    %footer
      Copyright
%script{src: 'aozora-drawer.js'}
