%link{rel: 'import', href: '../../bower_components/polymer/polymer.html'}

%polymer-element{name: 'aozora-background', extends: 'aozora-base', attributes: 'background'}(flex)
  %template
    %link{rel: 'stylesheet', href: 'aozora-background.css'}

  %script{src: 'aozora-background.js'}
