[
  {
    id: 0
    type: 'video'
    video: 'opening'
    allowSkipping: true
    next: 1
  },
  {
    id: 1
    type: 'line'
    role: 'sora'
    text: 'line 1'
    background: 'normal'
    tachies: [ { sora: 'normal' } ]
    next: 1
  },
  {
    id: 2
    type: 'line'
    role: 'haruka'
    text: 'line 2'
    background: 'bedroom'
    tachies: [ { sora: 'normal' }, { miyaho: 'normal' } ]
    next: 2
  },
  {
    id: 3
    type: 'line'
    role: 'haruka'
    text: 'line 2'
    background: 'bedroom'
    tachies: [ { miyaho: 'normal' } ]
    next: 3
  },
  {
    id: 4
    type: 'options'
    options: [
      {
        text: 'option 1'
        next: 4
      },
      {
        text: 'option 2'
        next: 5
      }
    ]
  },
  {
    id: 5
    type: 'narrate'
    text: 'happy ending'
    background: 'happyEnding'
  },
  {
    id: 6
    type: 'narrate'
    text: 'bad ending'
    background: 'badEnding'
  }
]