%dom-module#aozora-app
  %link{rel: 'import', type: 'css', href: 'aozora-app.css'}
  %template
    %aozora-resources#resources
    %aozora-story#story
    %aozora-background#background
    %aozora-conversation-box#conversationBox
    %aozora-splash-screen#splashScreen

%script{src: 'aozora-app.js'}
