/ GLOBAL TODOS
/ TODO move style tags into %template
/ TODO use classes for flex-layout

%dom-module#aozora-app
  %link{rel: 'import', type: 'css', href: 'aozora-app.css'}
  %template
    @@include('./aozora-app.css')

    %aozora-resources#resources
    %aozora-story#story

    %aozora-video#video.hide
    %aozora-loading-screen#loadingScreen

    %aozora-bgm#bgm(hidden)

    %paper-drawer-panel(force-narrow disable-swipe disable-edge-swipe)
      %aozora-drawer#drawer(drawer)
      %div(main)
        %aozora-background#background

        .conversation-and-tachies
          %aozora-conversation-box#conversationBox
          %aozora-tachies#tachies

        %aozora-opening-screen#openingScreen

        %aozora-topbar#topBar.hide


%script{src: 'aozora-app.js'}
