%dom-module#aozora-app
  %link{rel: 'import', type: 'css', href: 'aozora-app.css'}
  %template
    %aozora-resources#resources
    %aozora-story#story

    %aozora-background#background
    %aozora-splash-screen#splashScreen
    %aozora-video#video

    / TODO layout classes are deprecated
    .conversation-and-tachies.fit.flex.vertical.layout.end-justified
      %aozora-conversation-box#conversationBox
      %aozora-tachies#tachies

%script{src: 'aozora-app.js'}
