\:host
  @apply(--layout-fit)
  @apply(--layout-flex)

  .conversation-and-tachies
    @apply(--layout-fit)
    @apply(--layout-flex)
    @apply(--layout-vertical)
    @apply(--layout-end-justified)

    z-index: 1

    #tachies
      order: 0

    #conversationBox
      order: 1

  #tachies
    z-index: 1

  #video
    z-index: 2

  #openingScreen
    z-index: 3

  #loadingScreen
    z-index: 4

  #background
    z-index: 0
