%link{rel: 'import', href: '../../bower_components/polymer/polymer.html'}

%polymer-element{name: 'aozora-app'}
  %template
    %link{rel: 'stylesheet', href: 'aozora-app.css'}
    %script{src: 'aozora-app.js'}
