/ TODO fading animations

%link{rel: 'import', href: '../../bower_components/iron-icons/iron-icons.html'}
%link{rel: 'import', href: '../../bower_components/iron-icons/image-icons.html'}
%link{rel: 'import', href: '../../bower_components/paper-toast/paper-toast.html'}

%dom-module#aurora-bgm
  %template
    @@include('./aurora-bgm.css')

    %audio#audioElement(loop preload)

    %paper-toast#toast
      %iron-icon{icon: 'image:audiotrack'}
      %span#musicName [[music.displayName]]
%script{src: 'aurora-bgm.js'}
