/ TODO more fancy animation
/ - show loader say 300ms after show the logo
/ - progress bar to determine the loading progress

%link{rel: 'import', href: '../../bower_components/iron-image/iron-image.html'}
%link{rel: 'import', href: '../../bower_components/paper-spinner/paper-spinner.html'}

%dom-module#aurora-loading-screen
  %template
    @@include('./aurora-loading-screen.css')

    / TODO using `resources` to build path
    %iron-image.aurora-logo{src: '../../$resources/images/aurora_logo_hollow_black.png', width: 64, height: 64, sizing: 'contain'}
    %paper-spinner#spinner(active)

%script{src: 'aurora-loading-screen.js'}
