%dom-module#aurora-loading-screen
  %template
    @@include('./aurora-loading-screen.css')

    / TODO using `resources` to build path
    %iron-image.logo#auroraLogo{src: '../../$resources/images/aurora_logo.png'}
    %paper-spinner#spinner(active)

%script{src: 'aurora-loading-screen.js'}
