%dom-module#aozora-conversation-box
  %link{rel: 'import', type: 'css', href: 'aozora-conversation-box.css'}
  %template
    %template{is: 'dom-if', if: '{{node.typeIsLine}}'}
      .node.line
        %p.role {{ _roleNameOfLine(node) }}
        %aozora-sentence{sentence: '{{node.text}}'}

    %template{is: 'dom-if', if: '{{node.typeIsNarrate}}'}
      .node.narrate
        %p {{ node.text }}

    %template{is: 'dom-if', if: '{{node.typeIsOptions}}'}
      .node.options
        %template{is: 'dom-repeat', items: '{{node.options}}', as: 'option'}
          .option
            / TODO ripple
            %p{'on-tap' => '_onTapOnOption'} {{ option.text }}

%script{src: 'aozora-conversation-box.js'}
