%dom-module#aozora-opening-screen
  %template
    @@include('./aozora-opening-screen.css')

    %iron-image.logo{src: '../../resources/images/logo.svg'}
    %paper-button{'on-tap' => '_startBtnOnTap'} START
    %paper-button button2
    %paper-button button3

%script{src: 'aozora-opening-screen.js'}
