%dom-module#aozora-opening-screen
  %link{rel: 'import', type: 'css', href: 'aozora-opening-screen.css'}

  %template
    %iron-image.logo{src: '../../resources/images/logo.svg'}
    %paper-button{'on-tap' => '_startBtnOnTap'} START
    %paper-button button2
    %paper-button button3

%script{src: 'aozora-opening-screen.js'}
