/ TODO make the nav button width 100 and add hover effect
%dom-module#aurora-drawer
  %template
    @@include('./aurora-drawer.css')

    %header
      / TODO custom logo images via config
      / TODO using `resources` to build path
      %iron-image.logo#logo{src: '../../resources/images/logo.png'}
    %nav
      %paper-item
        %paper-button
          Setting
    %footer
      Created by
      %a{href: '[[config.meta.author.link]]', target: '_blank'}
        [[ config.meta.author.name ]]

%script{src: 'aurora-drawer.js'}
