%dom-module#aurora-topbar
  %template
    @@include('./aurora-topbar.css')

    %paper-icon-button#drawerBtn{icon: 'menu', 'on-tap' => '_onDrawerBtnTap'}(paper-drawer-toggle)

%script{src: 'aurora-topbar.js'}
