%link{rel: 'import', href: '../../bower_components/paper-listbox/paper-listbox.html'}
%link{rel: 'import', href: '../../bower_components/paper-item/paper-item.html'}
%link{rel: 'import', href: '../../bower_components/paper-button/paper-button.html'}

%dom-module#aurora-opening-screen
  %template
    @@include('./aurora-opening-screen.css')

    / TODO custom logo images via config
    / TODO using `resources` to build path
    %iron-image.logo{src: '../../resources/images/logo.png'}
    %paper-listbox.btns
      %paper-item
        %paper-button{'on-tap' => '_startBtnOnTap'} START
      %paper-item
        %paper-button(disabled) SETTINGS
      %paper-item
        %paper-button(disabled) GALLERY

%script{src: 'aurora-opening-screen.js'}
