%dom-module#aurora-opening-screen
  %template
    @@include('./aurora-opening-screen.css')

    / TODO custom logo images via config
    / TODO using `resources` to build path
    %iron-image.logo{src: '../../resources/images/logo.png'}
    %paper-button{'on-tap' => '_startBtnOnTap'} START
    %paper-button LOAD
    %paper-button GALLERY

%script{src: 'aurora-opening-screen.js'}
