\:host
  @apply(--layout-vertical)
  @apply(--layout-flex)
  @apply(--layout-fit)
  @apply(--layout-center)
  @apply(--layout-center-justified)

  background: white

  .logo
    margin-bottom: 1em
    --iron-image-width: 64px
    --iron-image-height: 64px

  paper-listbox.btns
    paper-button
      width: 100%
