%link{rel: 'import', href: '../../bower_components/paper-drawer-panel/paper-drawer-panel.html'}
%link{rel: 'import', href: '../../bower_components/paper-toolbar/paper-toolbar.html'}
%link{rel: 'import', href: '../../bower_components/paper-icon-button/paper-icon-button.html'}

%link{rel: 'import', href: '../aurora-story-controller/aurora-story-controller.html'}
%link{rel: 'import', href: '../aurora-background/aurora-background.html'}
%link{rel: 'import', href: '../aurora-conversation-box/aurora-conversation-box.html'}
%link{rel: 'import', href: '../aurora-tachies/aurora-tachies.html'}
%link{rel: 'import', href: '../aurora-drawer/aurora-drawer.html'}

%dom-module#aurora-story-screen
  %template
    @@include('./aurora-story-screen.css')
    %aurora-story-controller#storyController
    %paper-drawer-panel(force-narrow disable-swipe disable-edge-swipe)
      %aurora-drawer#drawer(drawer){config: '[[config]]'}
      .main-contents.layout.fit.flex.vertical.end-justified(main)
        %paper-toolbar#topBar.fixed-top
          %paper-icon-button{icon: 'menu'}(paper-drawer-toggle)

        %aurora-background#background.fit

        %aurora-conversation-box#conversationBox
        %aurora-tachies#tachies

%script{src: 'aurora-story-screen.js'}
