%link{rel: 'import', href: '../../bower_components/polymer/polymer.html'}

%polymer-element{name: 'aozora-animations', extends: 'aozora-base'}
  %template
    %core-animation{id: 'fadeOut', duration: 300}
      %core-animation-keyframe
        %core-animation-prop{name: 'opacity', value: 1}
      %core-animation-keyframe
        %core-animation-prop{name: 'opacity', value: 0}

    %core-animation{id: 'fadeIn', duration: 300}
      %core-animation-keyframe
        %core-animation-prop{name: 'opacity', value: 0}
      %core-animation-keyframe
        %core-animation-prop{name: 'opacity', value: 1}

  %script{src: 'aozora-animations.js'}
