/ TODO fading animations

%dom-module#aozora-bgm
  %template
    @@include('./aozora-bgm.css')

    %audio#audioElement(loop preload)
    %span#musicNameWrapper
      %iron-icon{icon: 'image:audiotrack'}
      %span#musicName [[music.displayName]]
%script{src: 'aozora-bgm.js'}
